.glass-panel {
    background: rgba(25, 31, 49, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.admin-global {
    background-color: #0c1324;
    color: #dce1fb;
    font-family: 'Manrope', sans-serif;
}
