.glass-panel {
    background: rgba(49, 53, 63, 0.4);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #0a0e17; }
::-webkit-scrollbar-thumb { background: #514532; border-radius: 10px; }
